head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='track.js')
    style
        include ../static/coffee.css
body
    h1 Coffee Tracker
    div.label.cent(style="text-align:center;color: #fff") Sign Up
      div.email
        input(type = "text" id = "email" placeholder = "email")
      div.username
        input(type="text" id = 'name' placeholder="username")
      div.password
        input(type="password" id = 'pass' placeholder="password")
        button.button(onclick="movep()") Sign Up
script.
  function movep() {
    window.location.href = '/home'
  }