head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    style
        include ../static/coffee.css
body

    div.label Login
      div.username
        input(type="text" id = 'name' placeholder="username")
      div.password
        input(type="password" id = 'pass' placeholder="password")
     
      button(onclick="movep()") Login
      p
        | Don't have an account?
      button(onclick="move()") Sign Up
script.
  function move() {
    window.location.href = '/signup'
  }
  function movep() {
    window.location.href = '/home'
  }
