
h1{
    font: italic small-caps bold 40px/20px Georgia, serif;
    color: #EAEBED;
    text-align: center;
    margin-top: 100px;
}

#cc1{
   
    position: relative;
    margin-top: -40px;
}

#steam{
    position: relative;
    
}
.button {
  font: italic small-caps 15px/20px Georgia, serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  background-color: #01A7C2;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 3px 3px;
  text-decoration: none;
  cursor: pointer;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  
}
.cent{
  font: small-caps 17px/20px Georgia, serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  
    
}

input{
    margin-top: 10px;
    color: #007090;
    background-color : #A3BAC3;
    border-radius: 10px;
    
}

label{
    color: #EAEBED;
    margin-top: 10px;
}

